#root {
  height: 100%;
}
.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  color: #eee;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.menu-item {
  list-style: none;
  padding: 6px;
}
.menu-item:hover {
  background: #aee;
  transition: background .5s;
}

.content {
  padding: 10px;
}

.cell-style {
  border: 1px solid #555;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align:  center;
}
.cell-style:hover {
  background: #ddd;
  transition: background .6s;
}
.highlight {
  background: #11aa66;
}